
<html th:replace="~{base/base :: layout (~{:: main})}">
  <main>

   <div class="container" style="margin-top: 50px;">
      <h1>Alterar Funcionarios </h1>
      <hr>
      <br>
       
     <!-- Nome -->
      <form method="post" action="./alterar-funcionarios" th:object="${funcionario}">
      <input type="hidden" th:field="*{id}">
       <div class="row"> 
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
            <label class="validation-message" th:errors="*{nome}"></label>
         </div>
         <label ><b>Nome:</b></label>
         <input class="form-control" placeholder="Ex: Thiago Antonio" style="margin-top: 10px"  th:field="*{nome}">     
        </div>
       </div>
       <!--Matricula-->
         <div class="row">
            <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('matricula')}">
            <label class="validation-message" th:errors="*{matricula}"></label>
         </div>
            <label style="margin-top: 10px"><b>Gerar Matrícula:</b></label>
            <input class="form-control" id="matricula" style="margin-top: 10px" th:field="*{matricula}"> 
<!--             <input readonly="readonly" class="form-control" id="matricula" style="margin-top: 10px" th:field="*{matricula}">  -->
<!--             <button type="button" onclick="GerarMatricula();" class="btn btn-primary offset-md-3" style="margin-top: 15px">GERAR</button>      -->
           </div>  
          </div>  
       <!--CPF-->
       <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('cpf')}">
            <label class="validation-message" th:errors="*{cpf}"></label>
         </div>
         <label><b>CPF:</b></label>
         <input class="form-control" placeholder="Ex: 00000011" style="margin-top: 10px" th:field="*{cpf}">      
        </div>
       </div> 
       <!--Sexo-->
         <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('sexo')}">
            <label class="validation-message" th:errors="*{sexo}"></label>
         </div>
           <label style="margin-top: 10px"><b>Selecione o Sexo:</b></label>
           <select class="form-control" style="margin-top: 10px" th:field="*{sexo}">
             <option th:each="sexo : ${T(com.loja.enums.Sexo).values()}"  
             th:value="${sexo}" th:text="${sexo}"></option>
           </select>    
        </div> 
        </div>
       <!--Cargo-->
       <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
           <label style="margin-top: 10px"><b>Selecione o Cargo:</b></label>
           <select class="form-control" style="margin-top: 10px" th:field="*{cargo}">
             <option th:each="cargo : ${T(com.loja.enums.Cargo).values()}"  
             th:value="${cargo}" th:text="${cargo}"></option>
           </select>    
        </div> 
       </div> 
        <!--ADMISSÃO-->
        <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('admissao')}">
            <label class="validation-message" th:errors="*{admissao}"></label>
         </div>
         <label><b>Data de Admissão:</b></label>
         <input class="form-control" placeholder="Ex: 25/01/2022" style="margin-top: 10px" th:field="*{admissao}">      
        </div>
       </div> 
   
      <div class="row">  
		  <div class="col-md-6 form-group offset-md-5" style="margin-top: 20px">
		   <button type="submit" class="btn btn-success">SALVAR</button>
			&nbsp; 
		   <a th:href="@{/lista-funcionarios}" class="btn btn-danger" >VOLTAR</a>
		  </div> 
      </div>
       &nbsp;  &nbsp;  &nbsp;  &nbsp;
   </form>  
      
   </div>   
   
<!--     <script src="js/main.js"></script>  -->
<!--     <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script> -->
<!--     <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script> -->
    
 </main>
</html>
