<!DOCTYPE html> 
<html lang="pt-br">
<div th:replace="fragmento/fragmento :: layout"></div>
<body>

   <div th:replace="fragmento/fragmento :: cabecalho"></div>

  <div class="container" style="margin-top: 50px;">

    <h1>Cadastro do Produto</h1> 
    <hr>
    <br>
    <!--Nome-->
    <form method="post" action="./cadastrar-produtos" th:object="${produto}">
       <div class="row"> 
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label ><b>Nome do Produto:</b></label>
         <input class="form-control" placeholder="Ex: Relogio Hero" style="margin-top: 10px" th:field="*{nome}">      
        </div>
       </div>
       <!--Preço-->
       <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label><b>Preço do produto:</b></label>
         <input class="form-control" placeholder="Ex: 80,00" style="margin-top: 10px" th:field="*{preco}">      
        </div> 
       </div> 
        <!--Categoria-->
         <div class="row">
          <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
           <label style="margin-top: 10px"><b>Selecione a Categoria:</b></label>
           <select class="form-control" style="margin-top: 10px" th:field="*{categoria}">
             <option th:each="categoria : ${T(com.loja.enums.Categoria).values()}"  
             th:value="${categoria}" th:text="${categoria}"></option>
           </select>    
          </div>
          </div>
          <!--Quantidade-->
		 <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label><b>Quantidade do produto:</b></label>
         <input class="form-control" placeholder="Ex: 18" style="margin-top: 10px" th:field="*{quantidade}">      
        </div>
       </div> 
		
			
			<div class="row">
			<div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
			  <button th:href="@{/listar-produtos}" type="submit" class="btn btn-success">SALVAR</button>
			  &nbsp; 
			  <a th:href="@{/home}" class="btn btn-danger">VOLTAR</a>
			</div>
      </div>
	     &nbsp;  &nbsp;  &nbsp;  &nbsp; 
		</form>   
     
</form>
  </div>
  
   <div th:replace="fragmento/fragmento :: rodape"></div>

</body>
</html>