
<html th:replace="~{base/base :: layout (~{:: main})}">
  <main>
 
  <div class="container" style="margin-top: 50px;">

    <h4>Alterar Produto</h4>
    <hr> 
    <br>
    <!--Nome-->
    <form method="post" action="./alterar-produtos" th:object="${produto}">
       <input type="hidden" th:field="*{id}">
       <div class="row"> 
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 10px">
         <label><b>Nome do Produto:</b></label>
         <input class="form-control" placeholder="Ex: Relogio Hero" style="margin-top: 10px" th:field="*{nome}">  
         <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}" style="margin-top: 15px">
            <label class="validation-message" th:errors="*{nome}"></label>
         </div>    
        </div>
       </div>
    <!--Preço-->
       <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 10px">
         <label><b>Preço:</b></label>
         <div class="input-group" id="valor" data-target-input="nearest">
             <div class="input-group-prepend" data-target="#preco" data-toggle="preco">
                <div class="input-group-text text-bold" th:styleappend="${#fields.hasErrors('preco') ? 'border: 1px solid #dc3545 !important; color: white !important; background-color: #dc3545 !important' : ''}" style="margin-top: 10px">R$</div>
             </div>
             <input type="text" class="form-control mask-money" placeholder="Ex: 180,00" style="margin-top: 10px" maxlength="10" th:field="*{preco}">
         </div>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('preco')}" style="margin-top: 15px">
              <label class="validation-message" th:errors="*{preco}"></label>
            </div>      
        </div> 
       </div> 
        <!--Categoria-->
         <div class="row">
          <div class="col-md-6 form-group offset-md-3" style="margin-top: 10px">
           <label style="margin-top: 10px"><b>Selecione a Categoria:</b></label>
           <select class="form-control" style="margin-top: 10px" th:field="*{categoria}">
             <option th:each="categoria : ${T(com.loja.enums.Categoria).values()}"  
             th:value="${categoria}" th:text="${categoria}"></option>
           </select>    
          </div>
          </div>  
          <!--Quantidade-->
		 <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 10px">
         <label><b>Quantidade de produto:</b></label>
         <input type="number" min="1" max="9999" class="form-control" placeholder="Ex: 18" style="margin-top: 10px" th:field="*{quantidade}">  
         <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('quantidade')}" style="margin-top: 15px">
            <label class="validation-message" th:errors="*{quantidade}"></label>
         </div>    
        </div> 
       </div> 
		
			 
			<div class="row">
			<div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
			  <button type="submit" class="btn btn-success">SALVAR</button>
			  &nbsp; 
			  <a th:href="@{/lista-produtos}" class="btn btn-danger">VOLTAR</a>
			</div>
      </div>
       &nbsp;  &nbsp;  &nbsp;  &nbsp;
			 
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />   
     
</form>
  </div>
  
 </main>
</html>
