
<html th:replace="~{base/base :: layout (~{:: main})}">
  <main>

    <div class="container" style="margin-top: 50px;">
      <h1>Listas de Produtos</h1>
      <hr>
      <br>
      
     <table class="table table-bordered table-hover">
            <thead>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Categoria</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Opções</th>
            </thead>
      <tbody>
        
       <tr th:each="produto : ${listarProdutos}">
       
       <td th:text="${produto.nome}"><span></span></td>
       <td th:text="${produto.preco}"></td>
       <td th:text="${produto.categoria}"></td>
       <td th:text="${produto.quantidade}"></td>
       
       <td>
           <a class="btn btn-primary" th:href="@{/alterar-produtos/{id}(id=${produto.id})}"> 
              <i class="fas fa-edit" style="font-size: 20px"></i>
           </a>
           &nbsp;        
           <a class="btn btn-danger" th:href="@{/excluir-produtos/{id}(id=${produto.id})}">
              <i class="bi-trash" style="font-size: 20px"></i>
		   </a>   
<!--            Button trigger modal -->
<!-- 		   <a class="btn btn-danger" data-bs-toggle="modal" -->
<!-- 				data-bs-target="#produtoModal"><i class="bi-trash" style="font-size: 20px"></i> -->
<!-- 			</a> -->

<!-- 			<!-- Modal --> 
<!-- 			<div class="modal fade" id="produtoModal" tabindex="-1" -->
<!-- 				aria-labelledby="produtoModalLabel" aria-hidden="true"> -->
<!-- 				<div class="modal-dialog"> -->
<!-- 					<div class="modal-content"> -->
<!-- 						<div class="modal-header"> -->
<!-- 							<h5 class="modal-title" id="produtoModalLabel">Infotec</h5> -->
<!-- 							<button type="button" class="btn-close" data-bs-dismiss="modal" -->
<!-- 								aria-label="Close"></button> -->
<!-- 						</div> -->
<!-- 						<div class="modal-body">Deseja realmente excluir o cliente?</div> -->
<!-- 						<div class="modal-footer"> -->
<!-- 							<a th:href="@{/excluir-produtos/{id}(id=${produto.id})}"><button type="button" class="btn btn-success" >Continuar</button></a> -->
<!-- 							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Voltar</button> -->
<!-- 						</div> -->
<!-- 					</div>  -->
<!-- 				</div> -->
<!-- 			</div> -->
           
       </td>
       
       </tr>
       </div>
      
      </tbody>
    
    </table> 
    
      <div class="col-md-9 form-group offset-md-5 " style="margin-top: 20px">
         <a th:href="@{/home}"><button class="btn btn-danger">VOLTAR</button></a>
      </div>  
      &nbsp;  &nbsp;  &nbsp;  &nbsp;
      
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      
    </div>  
    
    </main>
</html>
