     
<html th:replace="~{base/base :: layout (~{:: main})}">
  <main>
  
   <section class="neo-section" style="background-image: url(img/bg-index.jpg);">
    <div class="sombra"></div>
    <br>
    
      <div class="container" style="margin-top: 50px;">
        <div class="center neo-container">
 
            <h1 class="texto-centro">Sistema de Gerenciamento - LOJA INFOTEC</h1> 
             <hr>
             <br>
        </div> 
  
        <div class="botoes"> 

        <div class="wm">
              <div class="col-md-6 form-group" style="margin-top: 20px">
               <a th:href="@{/cadastrar-produtos}"><button class="btn btn-primary" style="width: 50%; margin-right: 15px"><i class="bi bi-pencil-fill"></i> CADASTRAR PRODUTO</button></a>                    
               <a th:href="@{/lista-produtos}"><button class="btn btn-secondary" style="width: 45%"><i class="bi bi-list"></i> LISTA DE PRODUTOS</button></a>
              </div>
              
              <div class="col-md-6 form-group" style="margin-top: 10px">
               <a th:href="@{/adicionar-funcionarios}"><button class="btn btn-primary" style="width: 50%; margin-right: 15px"><i class="bi bi-person-plus-fill"></i> CADASTRAR FUNCIONARIO</button></a>
                 <a th:href="@{/lista-funcionarios}"><button class="btn btn-secondary" style="width: 45%"><i class="bi bi-list"></i> LISTA DE FUNCIONARIOS</button></a>
              </div> 
              
              <div class="col-md-6 form-group" style="margin-top: 10px">
               <a th:href="@{/adicionar-clientes}"><button class="btn btn-primary" style="width: 50%; margin-right: 15px"><i class="bi bi-person-plus-fill"></i> CADASTRAR CLIENTE</button></a>
                 <a th:href="@{/lista-clientes}"><button class="btn btn-secondary" style="width: 45%"><i class="bi bi-list"></i> LISTA DE CLIENTES</button></a>
              </div> 
              
          

        <div class="clear"></div>
        </div>
        
        </div>
         &nbsp;  &nbsp;  &nbsp;  &nbsp;
        
    </section>
    
   </main>
</html>
   