<!DOCTYPE html> 
<html lang="pt-br">
 <link rel="stylesheet" href="../css/style.css"> 
<div th:replace="fragmento/fragmento :: layout"></div>
<body>

   <div th:replace="fragmento/fragmento :: cabecalho"></div> 

  <div class="container" style="margin-top: 50px;">

    <h4>Alterar Cliente</h4>
    <hr> 
    <br>
     <!--Nome-->
     <form method="post" action="/alterar-clientes" th:object="${cliente}">
       <input type="hidden" th:field="*{id}">
       <div class="row"> 
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label ><b>Nome:</b></label>
         <input class="form-control" placeholder="Ex: Thiago Antonio" style="margin-top: 10px"  th:field="*{nome}">     
        </div>
       </div> 
       <!--RG--> 
       <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label><b>CPF:</b></label>
         <input class="form-control" placeholder="Ex: 123.123.123-12" style="margin-top: 10px" th:field="*{cpf}">      
        </div>
       </div> 
       <!--Sexo-->
         <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
           <label style="margin-top: 10px"><b>Selecione o Sexo:</b></label>
           <select class="form-control" style="margin-top: 10px" th:field="*{sexo}">
             <option th:each="sexo : ${T(com.loja.enums.Sexo).values()}"  
             th:value="${sexo}" th:text="${sexo}"></option>
           </select>    
        </div> 
        </div> 
        <!--Idade-->
        <div class="row">
         <div class="col-md-6 form-group offset-md-3" style="margin-top: 20px">
         <label><b>Idade:</b></label>
         <input class="form-control" placeholder="Ex: 25" style="margin-top: 10px" th:field="*{idade}">      
        </div>
       </div> 
   
      <div class="row">
		  <div class="col-md-6 form-group offset-md-5" style="margin-top: 20px">
		   <button type="submit" class="btn btn-success">SALVAR</button>
			&nbsp; 
		   <a th:href="@{/home}" class="btn btn-danger" >VOLTAR</a>
		  </div> 
      </div>
       &nbsp;  &nbsp;  &nbsp;  &nbsp;

 </form>  
     
  </div>
  
   <div th:replace="fragmento/fragmento :: rodape"></div>

</body>
</html>