<!DOCTYPE html>
<!-- base -->
<html lang="pt-br" th:fragment="layout (conteudo)">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <title>Infotec</title> 
    <link rel="icon" href="img/logoit.png" />	
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="../css/style.css">           
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">           
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3d496cdab6.js"></script>
    <script type="text/javascript" src="./webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="js/main.js"></script> 
    <script type="text/javascript" src="./webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="./webjars/bootstrap/js/bootstrap.min.js"></script>
    <base href="http://localhost:8080/loja/"> 
 </head>  
<body>
<!-- Cabeçalho -->  
  <header>  
   
    
         <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #023e7d;">
    
         
         <div>
              <a th:href="@{/home}" style="text-decoration: none; color: #ffffff;"><h1 class="logo">  &nbsp;  &nbsp;  &nbsp;  &nbsp; INFOTEC <img src="img/logoit.png" alt="imagem do logo infotec"/></h1></a>                
          </div>  
       
        <div class="navbar-collapse collapse justify-content-end">   
        
 
            <a class="btn-nav nav-item nav-link" th:href="@{/home}"><i class="fas fa-home"></i>  HOME</a>
<!--             <a class="btn-nav nav-item nav-link" th:href="@{/cadastrar-produtos}"><i class="bi bi-pencil-fill"></i>  Cadastro</a> -->
              <!-- Dropdown Cadastro -->
              <li class="btn-nav nav-item nav-link dropdown">
            <a class="nav-link dropdown-toggle bi bi-pencil-fill" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CADASTRO
            </a>
          <ul class=" dropdown-menu" style="background-color: #023e7d;" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="cadastrar-produtos">CADASTRAR PRODUTO</a></li>
            <li><a class="dropdown-item" href="adicionar-funcionarios">CADASTRAR FUNCIONARIO</a></li>
            <li><a class="dropdown-item" href="adicionar-clientes">CADASTRAR CLIENTE</a></li>
          </ul> 
        </li>
        
<!--             <a class="btn-nav nav-item nav-link" th:href="@{/listar-produtos}"><i class="bi bi-list"></i>  Lista</a> -->
             <!-- Dropdawn Lista -->
             <li class="btn-nav nav-item nav-link dropdown">
            <a class="nav-link dropdown-toggle bi bi-list" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            LISTA
            </a>
          <ul class=" dropdown-menu" style="background-color: #023e7d;" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="lista-produtos">LISTA DE PRODUTO</a></li>
            <li><a class="dropdown-item" href="lista-funcionarios">LISTA DE FUNCIONARIO</a></li>
            <li><a class="dropdown-item" href="lista-clientes">LISTA DE CLIENTE</a></li>
          </ul>
        </li> 
            
      
         <!-- Button trigger modal -->
			<a class="btn-nav nav-item nav-link m-3"><button type="button" class="btn btn-danger" data-bs-toggle="modal"
				data-bs-target="#sairModal">Sair</button></a>

			<!-- Modal -->
			<div class="modal fade" id="sairModal" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Infotec</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">Deseja voltar para a tela de login?</div>
						<div class="modal-footer">
							<a th:href="@{/logout}"><button type="button" class="btn btn-success" >Continuar</button></a>
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Voltar</button>
						</div>
					</div> 
				</div>
			</div>
        
        </div>
        
    </nav>
    </header>
<!--conteúdo-->
    <main th:include="${conteudo}">
    
    </main>
    
<!--rodapé-->
    <footer>
     <div class="rodape"> 
         <span>Todos os Direitos Reservados - 2022 &copy INFOTEC</span>
     </div>
    </footer>
    

</body>
</html> 
